
body {
  border: 4px solid #D9946C;
  font-family: Gill Sans, sans-serif;
  width: 80%;
  margin: 2% 10% 0% 10%;
}

.main {
   display: flex;
   width: 100%;
   background-color: black;

 }

 .header {
    width: 100%;
    display: flex;
    background-color: #733434;
    justify-content: center;
    color: #F2F0D5;
 }

 .leftBox {
    width: 40%;
    background-color: #365959;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F2F0D5;
 }

 .rightBox {
    width: 60%;
    background-color: #F2F0D5;
    display: flex;
    flex-direction: column;
    padding-left: 4px;
    color: #733434;
 }

 .photo {
   padding: 2%; 
   width: 50%;
   text-align: center;
 }

.line {
  width: 90% ;
  height: 2px;
  background-color: #D9946C;
  border-radius: 25px;
}


.hobbies {
  width: 90%;
  text-align: center;
}

.snowboard {
  width: 70% ;
  height: 20px;
  background-color: #D9946C;
  border-radius: 25px;
  margin-bottom: 4px;
}

.food {
  width: 50%;
  height: 20px;
  background-color: #733434;
  border-radius: 25px;
  margin-bottom: 4px;
}
.cats {
  width: 90%;
  height: 20px;
  background-color: #BCBF60;
  border-radius: 25px;
  margin-bottom: 4px;
}

.contacts {
  width: 90%;
  text-align: center;
  margin: 10px;
}

.contacts:hover {
  background-color:#8ea9ad ;
  border-radius: 25px;
}


